In [2]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [4]:
movies = pd.read_csv('C:/Users/jogi/Desktop/Data Science/Movie+Assignment+Data.csv')
# Write your code for importing the csv file here
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [5]:
# Write your code for inspection here
print(movies.shape)

(5043, 28)

In [6]:
print(movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB
None

In [7]:
movies.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [8]:
# Write your code for column-wise null count here
movies.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [9]:
# Write your code for row-wise null count here
movies.isnull().sum(axis=1)

0        0
1        0
2        0
3        0
4       14
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
5013     2
5014     2
5015     0
5016     5
5017     2
5018     2
5019     2
5020     5
5021     1
5022     4
5023     2
5024     1
5025     0
5026     0
5027     0
5028     3
5029     1
5030     5
5031     3
5032     4
5033     0
5034     1
5035     0
5036     3
5037     1
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [10]:
# Write your code for column-wise null percentages here
round(100*(movies.isnull().sum()/len(movies.index)),2)

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [11]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations
movies=movies.drop('color',axis=1)
movies=movies.drop('director_facebook_likes',axis=1)
movies=movies.drop('actor_1_facebook_likes',axis=1)
movies=movies.drop('actor_2_facebook_likes',axis=1)
movies=movies.drop('actor_3_facebook_likes',axis=1)
movies=movies.drop('actor_2_name',axis=1)
movies=movies.drop('cast_total_facebook_likes',axis=1)
movies=movies.drop('actor_3_name',axis=1)
movies=movies.drop('duration',axis=1)
movies=movies.drop('facenumber_in_poster',axis=1)
movies=movies.drop('content_rating',axis=1)
movies=movies.drop('country',axis=1)
movies=movies.drop('movie_imdb_link',axis=1)
movies=movies.drop('aspect_ratio',axis=1)
movies=movies.drop('plot_keywords',axis=1)
round(100*(movies.isnull().sum()/len(movies.index)),2)

director_name              2.06
num_critic_for_reviews     0.99
gross                     17.53
genres                     0.00
actor_1_name               0.14
movie_title                0.00
num_voted_users            0.00
num_user_for_reviews       0.42
language                   0.24
budget                     9.76
title_year                 2.14
imdb_score                 0.00
movie_facebook_likes       0.00
dtype: float64

In [12]:
movies.shape

(5043, 13)

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [13]:
#inspecting the null values percentage again
round(100*(movies.isnull().sum()/len(movies.index)),2)

director_name              2.06
num_critic_for_reviews     0.99
gross                     17.53
genres                     0.00
actor_1_name               0.14
movie_title                0.00
num_voted_users            0.00
num_user_for_reviews       0.42
language                   0.24
budget                     9.76
title_year                 2.14
imdb_score                 0.00
movie_facebook_likes       0.00
dtype: float64

In [14]:
# Write your code for dropping the rows here
movies=movies[~np.isnan(movies['gross'])]
movies=movies[~np.isnan(movies['budget'])]
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000
6,Sam Raimi,392.0,336530303.0,Action|Adventure|Romance,J.K. Simmons,Spider-Man 3,383056,1902.0,English,258000000.0,2007.0,6.2,0
7,Nathan Greno,324.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,Tangled,294810,387.0,English,260000000.0,2010.0,7.8,29000
8,Joss Whedon,635.0,458991599.0,Action|Adventure|Sci-Fi,Chris Hemsworth,Avengers: Age of Ultron,462669,1117.0,English,250000000.0,2015.0,7.5,118000
9,David Yates,375.0,301956980.0,Adventure|Family|Fantasy|Mystery,Alan Rickman,Harry Potter and the Half-Blood Prince,321795,973.0,English,250000000.0,2009.0,7.5,10000
10,Zack Snyder,673.0,330249062.0,Action|Adventure|Sci-Fi,Henry Cavill,Batman v Superman: Dawn of Justice,371639,3018.0,English,250000000.0,2016.0,6.9,197000
11,Bryan Singer,434.0,200069408.0,Action|Adventure|Sci-Fi,Kevin Spacey,Superman Returns,240396,2367.0,English,209000000.0,2006.0,6.1,0
12,Marc Forster,403.0,168368427.0,Action|Adventure,Giancarlo Giannini,Quantum of Solace,330784,1243.0,English,200000000.0,2008.0,6.7,0
13,Gore Verbinski,313.0,423032628.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: Dead Man's Chest,522040,1832.0,English,225000000.0,2006.0,7.3,5000
14,Gore Verbinski,450.0,89289910.0,Action|Adventure|Western,Johnny Depp,The Lone Ranger,181792,711.0,English,215000000.0,2013.0,6.5,48000
15,Zack Snyder,733.0,291021565.0,Action|Adventure|Fantasy|Sci-Fi,Henry Cavill,Man of Steel,548573,2536.0,English,225000000.0,2013.0,7.2,118000
16,Andrew Adamson,258.0,141614023.0,Action|Adventure|Family|Fantasy,Peter Dinklage,The Chronicles of Narnia: Prince Caspian,149922,438.0,English,225000000.0,2008.0,6.6,0
17,Joss Whedon,703.0,623279547.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220000000.0,2012.0,8.1,123000
18,Rob Marshall,448.0,241063875.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: On Stranger Tides,370704,484.0,English,250000000.0,2011.0,6.7,58000
19,Barry Sonnenfeld,451.0,179020854.0,Action|Adventure|Comedy|Family|Fantasy|Sci-Fi,Will Smith,Men in Black 3,268154,341.0,English,225000000.0,2012.0,6.8,40000
20,Peter Jackson,422.0,255108370.0,Adventure|Fantasy,Aidan Turner,The Hobbit: The Battle of the Five Armies,354228,802.0,English,250000000.0,2014.0,7.5,65000
21,Marc Webb,599.0,262030663.0,Action|Adventure|Fantasy,Emma Stone,The Amazing Spider-Man,451803,1225.0,English,230000000.0,2012.0,7.0,56000
22,Ridley Scott,343.0,105219735.0,Action|Adventure|Drama|History,Mark Addy,Robin Hood,211765,546.0,English,200000000.0,2010.0,6.7,17000
23,Peter Jackson,509.0,258355354.0,Adventure|Fantasy,Aidan Turner,The Hobbit: The Desolation of Smaug,483540,951.0,English,225000000.0,2013.0,7.9,83000
24,Chris Weitz,251.0,70083519.0,Adventure|Family|Fantasy,Christopher Lee,The Golden Compass,149019,666.0,English,180000000.0,2007.0,6.1,0
25,Peter Jackson,446.0,218051260.0,Action|Adventure|Drama|Romance,Naomi Watts,King Kong,316018,2618.0,English,207000000.0,2005.0,7.2,0
26,James Cameron,315.0,658672302.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200000000.0,1997.0,7.7,26000
27,Anthony Russo,516.0,407197282.0,Action|Adventure|Sci-Fi,Robert Downey Jr.,Captain America: Civil War,272670,1022.0,English,250000000.0,2016.0,8.2,72000
28,Peter Berg,377.0,65173160.0,Action|Adventure|Sci-Fi|Thriller,Liam Neeson,Battleship,202382,751.0,English,209000000.0,2012.0,5.9,44000
29,Colin Trevorrow,644.0,652177271.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150000000.0,2015.0,7.0,150000
30,Sam Mendes,750.0,304360277.0,Action|Adventure|Thriller,Albert Finney,Skyfall,522030,1498.0,English,200000000.0,2012.0,7.8,80000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4959,Robert Townsend,21.0,5228617.0,Comedy,Robert Townsend,Hollywood Shuffle,2770,32.0,English,100000.0,1987.0,7.0,471
4962,Larry Blamire,88.0,110536.0,Comedy|Horror|Sci-Fi,Fay Masterson,The Lost Skeleton of Cadavra,4117,118.0,English,40000.0,2001.0,7.0,0
4964,E.L. Katz,193.0,59379.0,Comedy|Crime|Drama|Horror|Thriller,Brighton Sharbino,Cheap Thrills,12796,52.0,English,200000.0,2013.0,6.8,0
4971,Dennis Iliadis,241.0,32721635.0,Crime|Horror|Thriller,Tony Goldwyn,The Last House on the Left,67824,279.0,English,15000000.0,2009.0,6.6,0
4973,Darren Aronofsky,138.0,3216970.0,Drama|Mystery|Thriller,Mark Margolis,Pi,142619,586.0,English,60000.0,1998.0,7.5,24000
4975,Myles Berkowitz,32.0,536767.0,Biography|Comedy|Romance,Tia Carrere,20 Dates,1622,83.0,English,60000.0,1998.0,5.3,30
4977,Morgan Spurlock,193.0,11529368.0,Comedy|Documentary|Drama,Chemeeka Walker,Super Size Me,85028,404.0,English,65000.0,2004.0,7.3,0
4978,Brandon Trost,66.0,40557.0,Comedy,Clifton Collins Jr.,The FP,1389,22.0,English,60000.0,2011.0,5.6,0
4979,Joe Swanberg,65.0,30084.0,Comedy|Drama,Anna Kendrick,Happy Christmas,5507,23.0,English,70000.0,2014.0,5.6,812
4984,Edward Burns,36.0,10246600.0,Comedy|Drama|Romance,Shari Albert,The Brothers McMullen,6375,36.0,English,25000.0,1995.0,6.6,265
4987,Lena Dunham,113.0,389804.0,Comedy|Drama|Romance,Lena Dunham,Tiny Furniture,11816,35.0,English,65000.0,2010.0,6.3,0
4997,David Gordon Green,75.0,241816.0,Drama,Paul Schneider,George Washington,6246,76.0,English,42000.0,2000.0,7.5,451
4998,Kevin Jordan,21.0,277233.0,Comedy|Romance,Derick Martini,Smiling Fish & Goat on Fire,2631,26.0,English,40000.0,1999.0,7.6,0
5004,Mike Bruce,3.0,243768.0,Western,Joseph Campanella,The Legend of God's Gun,143,9.0,English,30000.0,2007.0,4.1,13
5008,Kevin Smith,136.0,3151130.0,Comedy,Jason Mewes,Clerks,181749,615.0,English,230000.0,1994.0,7.8,0
5009,James Bidgood,8.0,8231.0,Drama|Fantasy,Don Brooks,Pink Narcissus,803,16.0,English,27000.0,1971.0,6.7,85
5011,Neil LaBute,80.0,2856622.0,Comedy|Drama,Stacy Edwards,In the Company of Men,11550,197.0,English,25000.0,1997.0,7.3,489
5012,David Ayer,233.0,10499968.0,Action|Crime|Drama|Thriller,Mireille Enos,Sabotage,47502,212.0,English,35000000.0,2014.0,5.7,10000
5015,Richard Linklater,61.0,1227508.0,Comedy|Drama,Tommy Pallotta,Slacker,15103,80.0,English,23000.0,1991.0,7.1,2000
5021,Jay Duplass,51.0,192467.0,Comedy|Drama|Romance,Mark Duplass,The Puffy Chair,4067,71.0,English,15000.0,2005.0,6.6,297
5023,Daryl Wein,22.0,76382.0,Romance,Zoe Lister-Jones,Breaking Upwards,1194,8.0,English,15000.0,2009.0,6.2,324
5025,John Waters,73.0,180483.0,Comedy|Crime|Horror,Divine,Pink Flamingos,16792,183.0,English,10000.0,1972.0,6.1,0
5026,Olivier Assayas,81.0,136007.0,Drama|Music|Romance,Maggie Cheung,Clean,3924,39.0,French,4500.0,2004.0,6.9,171
5027,Jafar Panahi,64.0,673780.0,Drama,Fereshteh Sadre Orafaiy,The Circle,4555,26.0,Persian,10000.0,2000.0,7.5,697
5029,Kiyoshi Kurosawa,78.0,94596.0,Crime|Horror|Mystery|Thriller,KÃ´ji Yakusho,The Cure,6318,50.0,Japanese,1000000.0,1997.0,7.4,817
5033,Shane Carruth,143.0,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,7000.0,2004.0,7.0,19000
5034,Neill Dela Llana,35.0,70071.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,7000.0,2005.0,6.3,74
5035,Robert Rodriguez,56.0,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,7000.0,1992.0,6.9,0
5037,Edward Burns,14.0,4584.0,Comedy|Drama,Kerry BishÃ©,Newlyweds,1338,14.0,English,9000.0,2011.0,6.4,413
5042,Jon Gunn,43.0,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456

In [15]:
round(100*(movies.isnull().sum()/len(movies.index)),2)

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.08
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [16]:
# Write your code for dropping the rows here
#retainig the rows having <=5NaNs
movies[movies.isnull().sum(axis=1)<=5]
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000
6,Sam Raimi,392.0,336530303.0,Action|Adventure|Romance,J.K. Simmons,Spider-Man 3,383056,1902.0,English,258000000.0,2007.0,6.2,0
7,Nathan Greno,324.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,Tangled,294810,387.0,English,260000000.0,2010.0,7.8,29000
8,Joss Whedon,635.0,458991599.0,Action|Adventure|Sci-Fi,Chris Hemsworth,Avengers: Age of Ultron,462669,1117.0,English,250000000.0,2015.0,7.5,118000
9,David Yates,375.0,301956980.0,Adventure|Family|Fantasy|Mystery,Alan Rickman,Harry Potter and the Half-Blood Prince,321795,973.0,English,250000000.0,2009.0,7.5,10000
10,Zack Snyder,673.0,330249062.0,Action|Adventure|Sci-Fi,Henry Cavill,Batman v Superman: Dawn of Justice,371639,3018.0,English,250000000.0,2016.0,6.9,197000
11,Bryan Singer,434.0,200069408.0,Action|Adventure|Sci-Fi,Kevin Spacey,Superman Returns,240396,2367.0,English,209000000.0,2006.0,6.1,0
12,Marc Forster,403.0,168368427.0,Action|Adventure,Giancarlo Giannini,Quantum of Solace,330784,1243.0,English,200000000.0,2008.0,6.7,0
13,Gore Verbinski,313.0,423032628.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: Dead Man's Chest,522040,1832.0,English,225000000.0,2006.0,7.3,5000
14,Gore Verbinski,450.0,89289910.0,Action|Adventure|Western,Johnny Depp,The Lone Ranger,181792,711.0,English,215000000.0,2013.0,6.5,48000
15,Zack Snyder,733.0,291021565.0,Action|Adventure|Fantasy|Sci-Fi,Henry Cavill,Man of Steel,548573,2536.0,English,225000000.0,2013.0,7.2,118000
16,Andrew Adamson,258.0,141614023.0,Action|Adventure|Family|Fantasy,Peter Dinklage,The Chronicles of Narnia: Prince Caspian,149922,438.0,English,225000000.0,2008.0,6.6,0
17,Joss Whedon,703.0,623279547.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220000000.0,2012.0,8.1,123000
18,Rob Marshall,448.0,241063875.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: On Stranger Tides,370704,484.0,English,250000000.0,2011.0,6.7,58000
19,Barry Sonnenfeld,451.0,179020854.0,Action|Adventure|Comedy|Family|Fantasy|Sci-Fi,Will Smith,Men in Black 3,268154,341.0,English,225000000.0,2012.0,6.8,40000
20,Peter Jackson,422.0,255108370.0,Adventure|Fantasy,Aidan Turner,The Hobbit: The Battle of the Five Armies,354228,802.0,English,250000000.0,2014.0,7.5,65000
21,Marc Webb,599.0,262030663.0,Action|Adventure|Fantasy,Emma Stone,The Amazing Spider-Man,451803,1225.0,English,230000000.0,2012.0,7.0,56000
22,Ridley Scott,343.0,105219735.0,Action|Adventure|Drama|History,Mark Addy,Robin Hood,211765,546.0,English,200000000.0,2010.0,6.7,17000
23,Peter Jackson,509.0,258355354.0,Adventure|Fantasy,Aidan Turner,The Hobbit: The Desolation of Smaug,483540,951.0,English,225000000.0,2013.0,7.9,83000
24,Chris Weitz,251.0,70083519.0,Adventure|Family|Fantasy,Christopher Lee,The Golden Compass,149019,666.0,English,180000000.0,2007.0,6.1,0
25,Peter Jackson,446.0,218051260.0,Action|Adventure|Drama|Romance,Naomi Watts,King Kong,316018,2618.0,English,207000000.0,2005.0,7.2,0
26,James Cameron,315.0,658672302.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200000000.0,1997.0,7.7,26000
27,Anthony Russo,516.0,407197282.0,Action|Adventure|Sci-Fi,Robert Downey Jr.,Captain America: Civil War,272670,1022.0,English,250000000.0,2016.0,8.2,72000
28,Peter Berg,377.0,65173160.0,Action|Adventure|Sci-Fi|Thriller,Liam Neeson,Battleship,202382,751.0,English,209000000.0,2012.0,5.9,44000
29,Colin Trevorrow,644.0,652177271.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150000000.0,2015.0,7.0,150000
30,Sam Mendes,750.0,304360277.0,Action|Adventure|Thriller,Albert Finney,Skyfall,522030,1498.0,English,200000000.0,2012.0,7.8,80000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4959,Robert Townsend,21.0,5228617.0,Comedy,Robert Townsend,Hollywood Shuffle,2770,32.0,English,100000.0,1987.0,7.0,471
4962,Larry Blamire,88.0,110536.0,Comedy|Horror|Sci-Fi,Fay Masterson,The Lost Skeleton of Cadavra,4117,118.0,English,40000.0,2001.0,7.0,0
4964,E.L. Katz,193.0,59379.0,Comedy|Crime|Drama|Horror|Thriller,Brighton Sharbino,Cheap Thrills,12796,52.0,English,200000.0,2013.0,6.8,0
4971,Dennis Iliadis,241.0,32721635.0,Crime|Horror|Thriller,Tony Goldwyn,The Last House on the Left,67824,279.0,English,15000000.0,2009.0,6.6,0
4973,Darren Aronofsky,138.0,3216970.0,Drama|Mystery|Thriller,Mark Margolis,Pi,142619,586.0,English,60000.0,1998.0,7.5,24000
4975,Myles Berkowitz,32.0,536767.0,Biography|Comedy|Romance,Tia Carrere,20 Dates,1622,83.0,English,60000.0,1998.0,5.3,30
4977,Morgan Spurlock,193.0,11529368.0,Comedy|Documentary|Drama,Chemeeka Walker,Super Size Me,85028,404.0,English,65000.0,2004.0,7.3,0
4978,Brandon Trost,66.0,40557.0,Comedy,Clifton Collins Jr.,The FP,1389,22.0,English,60000.0,2011.0,5.6,0
4979,Joe Swanberg,65.0,30084.0,Comedy|Drama,Anna Kendrick,Happy Christmas,5507,23.0,English,70000.0,2014.0,5.6,812
4984,Edward Burns,36.0,10246600.0,Comedy|Drama|Romance,Shari Albert,The Brothers McMullen,6375,36.0,English,25000.0,1995.0,6.6,265
4987,Lena Dunham,113.0,389804.0,Comedy|Drama|Romance,Lena Dunham,Tiny Furniture,11816,35.0,English,65000.0,2010.0,6.3,0
4997,David Gordon Green,75.0,241816.0,Drama,Paul Schneider,George Washington,6246,76.0,English,42000.0,2000.0,7.5,451
4998,Kevin Jordan,21.0,277233.0,Comedy|Romance,Derick Martini,Smiling Fish & Goat on Fire,2631,26.0,English,40000.0,1999.0,7.6,0
5004,Mike Bruce,3.0,243768.0,Western,Joseph Campanella,The Legend of God's Gun,143,9.0,English,30000.0,2007.0,4.1,13
5008,Kevin Smith,136.0,3151130.0,Comedy,Jason Mewes,Clerks,181749,615.0,English,230000.0,1994.0,7.8,0
5009,James Bidgood,8.0,8231.0,Drama|Fantasy,Don Brooks,Pink Narcissus,803,16.0,English,27000.0,1971.0,6.7,85
5011,Neil LaBute,80.0,2856622.0,Comedy|Drama,Stacy Edwards,In the Company of Men,11550,197.0,English,25000.0,1997.0,7.3,489
5012,David Ayer,233.0,10499968.0,Action|Crime|Drama|Thriller,Mireille Enos,Sabotage,47502,212.0,English,35000000.0,2014.0,5.7,10000
5015,Richard Linklater,61.0,1227508.0,Comedy|Drama,Tommy Pallotta,Slacker,15103,80.0,English,23000.0,1991.0,7.1,2000
5021,Jay Duplass,51.0,192467.0,Comedy|Drama|Romance,Mark Duplass,The Puffy Chair,4067,71.0,English,15000.0,2005.0,6.6,297
5023,Daryl Wein,22.0,76382.0,Romance,Zoe Lister-Jones,Breaking Upwards,1194,8.0,English,15000.0,2009.0,6.2,324
5025,John Waters,73.0,180483.0,Comedy|Crime|Horror,Divine,Pink Flamingos,16792,183.0,English,10000.0,1972.0,6.1,0
5026,Olivier Assayas,81.0,136007.0,Drama|Music|Romance,Maggie Cheung,Clean,3924,39.0,French,4500.0,2004.0,6.9,171
5027,Jafar Panahi,64.0,673780.0,Drama,Fereshteh Sadre Orafaiy,The Circle,4555,26.0,Persian,10000.0,2000.0,7.5,697
5029,Kiyoshi Kurosawa,78.0,94596.0,Crime|Horror|Mystery|Thriller,KÃ´ji Yakusho,The Cure,6318,50.0,Japanese,1000000.0,1997.0,7.4,817
5033,Shane Carruth,143.0,424760.0,Drama|Sci-Fi|Thriller,Shane Carruth,Primer,72639,371.0,English,7000.0,2004.0,7.0,19000
5034,Neill Dela Llana,35.0,70071.0,Thriller,Ian Gamazon,Cavite,589,35.0,English,7000.0,2005.0,6.3,74
5035,Robert Rodriguez,56.0,2040920.0,Action|Crime|Drama|Romance|Thriller,Carlos Gallardo,El Mariachi,52055,130.0,Spanish,7000.0,1992.0,6.9,0
5037,Edward Burns,14.0,4584.0,Comedy|Drama,Kerry BishÃ©,Newlyweds,1338,14.0,English,9000.0,2011.0,6.4,413
5042,Jon Gunn,43.0,85222.0,Documentary,John August,My Date with Drew,4285,84.0,English,1100.0,2004.0,6.6,456

In [17]:
round(100*(movies.isnull().sum()/len(movies.index)),2)

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.08
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [18]:
movies['language'].describe()

count        3888
unique         38
top       English
freq         3707
Name: language, dtype: object

In [19]:
# Write your code for filling the NaN values in the 'language' column here

movies['language'] = movies['language'].fillna('English')
round(100*(movies.isnull().sum()/len(movies.index)),2)

director_name             0.00
num_critic_for_reviews    0.03
gross                     0.00
genres                    0.00
actor_1_name              0.08
movie_title               0.00
num_voted_users           0.00
num_user_for_reviews      0.00
language                  0.00
budget                    0.00
title_year                0.00
imdb_score                0.00
movie_facebook_likes      0.00
dtype: float64

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [20]:
# Write your code for checking number of retained rows here
len(movies[movies.isnull().sum(axis=1)<=5].index)
len(movies.index)/5043*100

77.15645449137418

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [21]:
# Write your code for unit conversion here
movies['budget']=movies['budget']/1000000
movies['gross']=movies['gross']/1000000
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309.404152,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300.0,2007.0,7.1,0
2,Sam Mendes,602.0,200.074175,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448.130642,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73.058679,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263.7,2012.0,6.6,24000

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [22]:
# Write your code for creating the profit column here
movies['profit'] = np.subtract(movies['gross'], movies['budget'])
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847
1,Gore Verbinski,302.0,309.404152,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300.0,2007.0,7.1,0,9.404152
2,Sam Mendes,602.0,200.074175,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245.0,2015.0,6.8,85000,-44.925825
3,Christopher Nolan,813.0,448.130642,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250.0,2012.0,8.5,164000,198.130642
5,Andrew Stanton,462.0,73.058679,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263.7,2012.0,6.6,24000,-190.641321

In [23]:
# Write your code for sorting the dataframe here
movies.sort_values(by='profit', ascending = False).head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.5,1982.0,7.9,34000,424.449459

In [24]:
top10 = movies.sort_values(by='profit', ascending = False).head(10)
top10
# Write your code to get the top 10 profiting movies here

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.5,1982.0,7.9,34000,424.449459
794,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
17,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
509,Roger Allers,186.0,422.783777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,45.0,1994.0,8.5,17000,377.783777
240,George Lucas,320.0,474.544677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,115.0,1999.0,6.5,13000,359.544677
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [25]:
# Write your code for dropping duplicate values here
top10.drop_duplicates(subset='director_name',keep='first')
top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.5,1982.0,7.9,34000,424.449459
794,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
17,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
509,Roger Allers,186.0,422.783777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,45.0,1994.0,8.5,17000,377.783777
240,George Lucas,320.0,474.544677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,115.0,1999.0,6.5,13000,359.544677
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061

In [26]:
# Write code for repeating subtask 2 here
top10 = movies.sort_values(by='profit', ascending = False).head(10)
top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.5,1982.0,7.9,34000,424.449459
794,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
17,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
509,Roger Allers,186.0,422.783777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,45.0,1994.0,8.5,17000,377.783777
240,George Lucas,320.0,474.544677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,115.0,1999.0,6.5,13000,359.544677
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [27]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250=movies.sort_values(by='imdb_score',ascending=False)
IMDb_Top_250=IMDb_Top_250.loc[IMDb_Top_250.num_voted_users>25000]
IMDb_Top_250=IMDb_Top_250.iloc[:250,]
IMDb_Top_250['rank']=range(1,251)
IMDb_Top_250

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,rank
1937,Frank Darabont,199.0,28.341469,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,25.00,1994.0,9.3,108000,3.341469,1
3466,Francis Ford Coppola,208.0,134.821952,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,6.00,1972.0,9.2,43000,128.821952,2
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.00,2008.0,9.0,37000,348.316061,3
2837,Francis Ford Coppola,149.0,57.300000,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,English,13.00,1974.0,9.0,14000,44.300000,4
3355,Quentin Tarantino,215.0,107.930000,Crime|Drama,Bruce Willis,Pulp Fiction,1324680,2195.0,English,8.00,1994.0,8.9,45000,99.930000,5
1874,Steven Spielberg,174.0,96.067179,Biography|Drama|History,Liam Neeson,Schindler's List,865020,1273.0,English,22.00,1993.0,8.9,41000,74.067179,6
4498,Sergio Leone,181.0,6.100000,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,1.20,1966.0,8.9,20000,4.900000,7
339,Peter Jackson,328.0,377.019252,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the King,1215718,3189.0,English,94.00,2003.0,8.9,16000,283.019252,8
97,Christopher Nolan,642.0,292.568851,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,160.00,2010.0,8.8,175000,132.568851,9
270,Peter Jackson,297.0,313.837577,Action|Adventure|Drama|Fantasy,Christopher Lee,The Lord of the Rings: The Fellowship of the R...,1238746,5060.0,English,93.00,2001.0,8.8,21000,220.837577,10
836,Robert Zemeckis,149.0,329.691196,Comedy|Drama,Tom Hanks,Forrest Gump,1251222,1398.0,English,55.00,1994.0,8.8,59000,274.691196,11
2051,Irvin Kershner,223.0,290.158751,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode V - The Empire Strikes Back,837759,900.0,English,18.00,1980.0,8.8,17000,272.158751,12
683,David Fincher,315.0,37.023395,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,63.00,1999.0,8.8,48000,-25.976605,13
654,Lana Wachowski,313.0,171.383253,Action|Sci-Fi,Keanu Reeves,The Matrix,1217752,3646.0,English,63.00,1999.0,8.7,25000,108.383253,14
4029,Fernando Meirelles,214.0,7.563397,Crime|Drama,Alice Braga,City of God,533200,749.0,Portuguese,3.30,2002.0,8.7,28000,4.263397,15
4747,Akira Kurosawa,153.0,0.269061,Action|Adventure|Drama,Takashi Shimura,Seven Samurai,229012,596.0,Japanese,2.00,1954.0,8.7,11000,-1.730939,16
340,Peter Jackson,294.0,340.478898,Action|Adventure|Drama|Fantasy,Christopher Lee,The Lord of the Rings: The Two Towers,1100446,2417.0,English,94.00,2002.0,8.7,10000,246.478898,17
3867,Milos Forman,149.0,112.000000,Drama,Scatman Crothers,One Flew Over the Cuckoo's Nest,680041,760.0,English,4.40,1975.0,8.7,32000,107.600000,18
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.00,1977.0,8.7,33000,449.935665,19
1903,Martin Scorsese,192.0,46.836394,Biography|Crime|Drama,Robert De Niro,Goodfellas,728685,989.0,English,25.00,1990.0,8.7,25000,21.836394,20
3592,Bryan Singer,162.0,23.272306,Crime|Drama|Mystery|Thriller,Kevin Spacey,The Usual Suspects,740918,1182.0,English,6.00,1995.0,8.6,28000,17.272306,21
1600,David Fincher,216.0,100.125340,Crime|Drama|Mystery|Thriller,Morgan Freeman,Se7en,1023511,1080.0,English,33.00,1995.0,8.6,39000,67.125340,22
2373,Hayao Miyazaki,246.0,10.049886,Adventure|Animation|Family|Fantasy,Bunta Sugawara,Spirited Away,417971,902.0,Japanese,19.00,2001.0,8.6,28000,-8.950114,23
648,Steven Spielberg,219.0,216.119491,Action|Drama|War,Tom Hanks,Saving Private Ryan,881236,2277.0,English,70.00,1998.0,8.6,22000,146.119491,24
96,Christopher Nolan,712.0,187.991439,Adventure|Drama|Sci-Fi,Matthew McConaughey,Interstellar,928227,2725.0,English,165.00,2014.0,8.6,349000,22.991439,25
2158,Jonathan Demme,185.0,130.727000,Crime|Drama|Horror|Thriller,Anthony Hopkins,The Silence of the Lambs,887467,916.0,English,19.00,1991.0,8.6,40000,111.727000,26
3175,Tony Kaye,162.0,6.712241,Crime|Drama,Ethan Suplee,American History X,782437,1420.0,English,7.50,1998.0,8.6,35000,-0.787759,27
4427,Charles Chaplin,120.0,0.163245,Comedy|Drama|Family,Paulette Goddard,Modern Times,143086,211.0,English,1.50,1936.0,8.6,0,-1.336755,28
1233,Christopher Nolan,341.0,53.082743,Drama|Mystery|Sci-Fi|Thriller,Christian Bale,The Prestige,844052,1100.0,English,40.00,2006.0,8.5,49000,13.082743,29
2363,Robert Zemeckis,198.0,210.609762,Adventure|Comedy|Sci-Fi,Lea Thompson,Back to the Future,732212,809.0,English,19.00,1985.0,8.5,39000,191.609762,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3361,Jonathan Dayton,270.0,59.889948,Comedy|Drama,Steve Carell,Little Miss Sunshine,355810,889.0,English,8.00,2006.0,7.9,15000,51.889948,221
3452,Paul Haggis,287.0,54.557348,Crime|Drama|Thriller,Don Cheadle,Crash,361169,1624.0,English,6.50,2004.0,7.9,18000,48.057348,222
3029,David O. Russell,410.0,93.571803,Biography|Drama|Sport,Christian Bale,The Fighter,275869,389.0,English,25.00,2010.0,7.9,36000,68.571803,223
4415,FabiÃ¡n Bielinsky,94.0,1.221261,Crime|Drama|Thriller,Ricardo DarÃ­n,Nine Queens,38215,125.0,Spanish,1.50,2000.0,7.9,0,-0.278739,224
3510,Yash Chopra,29.0,2.921738,Drama|Musical|Romance,Shah Rukh Khan,Veer-Zaara,34449,119.0,Hindi,7.00,2004.0,7.9,2000,-4.078262,225
845,Paul Greengrass,491.0,107.100855,Biography|Drama|Thriller,Tom Hanks,Captain Phillips,323353,527.0,English,55.00,2013.0,7.9,65000,52.100855,226
3595,Darren Aronofsky,391.0,26.236603,Drama|Sport,Mark Margolis,The Wrestler,251349,547.0,English,6.00,2008.0,7.9,10000,20.236603,227
3677,Christophe Barratier,112.0,3.629758,Drama|Music,Jean-Baptiste Maunier,The Chorus,44151,110.0,French,5.50,2004.0,7.9,0,-1.870242,228
788,Cameron Crowe,149.0,32.522352,Adventure|Comedy|Drama|Music,Philip Seymour Hoffman,Almost Famous,207287,822.0,English,60.00,2000.0,7.9,15000,-27.477648,229
927,Andrew Adamson,212.0,267.652016,Adventure|Animation|Comedy|Family|Fantasy,Kathleen Freeman,Shrek,467113,945.0,English,60.00,2001.0,7.9,0,207.652016,230
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.00,2009.0,7.9,33000,523.505847,231
1813,Philip Kaufman,80.0,21.500000,Adventure|Drama|History,Dennis Quaid,The Right Stuff,45271,170.0,English,27.00,1983.0,7.9,0,-5.500000,232
1871,Pierre Morel,309.0,145.000989,Action|Thriller,Liam Neeson,Taken,483756,974.0,English,25.00,2008.0,7.9,29000,120.000989,233
1606,Nick Cassavetes,177.0,0.064286,Drama|Romance,Ryan Gosling,The Notebook,396396,1111.0,English,29.00,2004.0,7.9,57000,-28.935714,234
89,Don Hall,384.0,222.487711,Action|Adventure|Animation|Comedy|Drama|Family...,Damon Wayans Jr.,Big Hero 6,279093,433.0,English,165.00,2014.0,7.9,41000,57.487711,235
1884,Brian De Palma,123.0,76.270454,Crime|Drama|Thriller,Robert De Niro,The Untouchables,219008,418.0,English,25.00,1987.0,7.9,0,51.270454,236
1748,F. Gary Gray,349.0,161.029270,Biography|Crime|Drama|History|Music,Aldis Hodge,Straight Outta Compton,119928,331.0,English,28.00,2015.0,7.9,76000,133.029270,237
99,Peter Jackson,645.0,303.001229,Adventure|Fantasy,Aidan Turner,The Hobbit: An Unexpected Journey,637246,1367.0,English,180.00,2012.0,7.9,166000,123.001229,238
2558,Edgar Wright,285.0,23.618786,Action|Comedy|Mystery,Bill Bailey,Hot Fuzz,352695,687.0,English,8.00,2007.0,7.9,17000,15.618786,239
23,Peter Jackson,509.0,258.355354,Adventure|Fantasy,Aidan Turner,The Hobbit: The Desolation of Smaug,483540,951.0,English,225.00,2013.0,7.9,83000,33.355354,240
162,Dean DeBlois,292.0,176.997107,Action|Adventure|Animation|Comedy|Family|Fantasy,Gerard Butler,How to Train Your Dragon 2,221128,343.0,English,145.00,2014.0,7.9,46000,31.997107,241
4931,John Carney,232.0,9.437933,Drama|Music|Romance,Glen Hansard,Once,90827,329.0,English,0.18,2007.0,7.9,26000,9.257933,242
2493,Yimou Zhang,283.0,0.084961,Action|Adventure|History,Jet Li,Hero,149414,841.0,Mandarin,31.00,2002.0,7.9,0,-30.915039,243
2492,John Carpenter,318.0,47.000000,Horror|Thriller,Jamie Lee Curtis,Halloween,157857,1191.0,English,0.30,1978.0,7.9,12000,46.700000,244
75,Doug Liman,585.0,100.189501,Action|Adventure|Sci-Fi,Tom Cruise,Edge of Tomorrow,431620,741.0,English,178.00,2014.0,7.9,77000,-77.810499,245
2177,Tim Burton,111.0,56.362352,Fantasy|Romance,Johnny Depp,Edward Scissorhands,357581,588.0,English,20.00,1990.0,7.9,16000,36.362352,246
2667,Paul Thomas Anderson,153.0,26.384919,Drama,Don Cheadle,Boogie Nights,189032,560.0,English,15.00,1997.0,7.9,0,11.384919,247
2487,George Cukor,82.0,72.000000,Drama|Family|Musical|Romance,Jeremy Brett,My Fair Lady,66959,258.0,English,17.00,1964.0,7.9,0,55.000000,248
1735,James Mangold,291.0,119.518352,Biography|Drama|Music|Romance,Sandra Ellis Lafferty,Walk the Line,188637,815.0,English,28.00,2005.0,7.9,11000,91.518352,249
4640,Cristian Mungiu,233.0,1.185783,Drama,Anamaria Marinca,"4 Months, 3 Weeks and 2 Days",44763,172.0,Romanian,0.59,2007.0,7.9,14000,0.595783,250

In [28]:
Top_Foreign_Lang_Film =IMDb_Top_250.loc[IMDb_Top_250['language']!='English']
Top_Foreign_Lang_Film
# Write your code to extract top foreign language films from 'IMDb_Top_250' here

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,rank
4498,Sergio Leone,181.0,6.100000,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,1.200000,1966.0,8.9,20000,4.900000,7
4029,Fernando Meirelles,214.0,7.563397,Crime|Drama,Alice Braga,City of God,533200,749.0,Portuguese,3.300000,2002.0,8.7,28000,4.263397,15
4747,Akira Kurosawa,153.0,0.269061,Action|Adventure|Drama,Takashi Shimura,Seven Samurai,229012,596.0,Japanese,2.000000,1954.0,8.7,11000,-1.730939,16
2373,Hayao Miyazaki,246.0,10.049886,Adventure|Animation|Family|Fantasy,Bunta Sugawara,Spirited Away,417971,902.0,Japanese,19.000000,2001.0,8.6,28000,-8.950114,23
4259,Florian Henckel von Donnersmarck,215.0,11.284657,Drama|Thriller,Sebastian Koch,The Lives of Others,259379,407.0,German,2.000000,2006.0,8.5,39000,9.284657,31
4921,Majid Majidi,46.0,0.925402,Drama|Family,Bahare Seddiqi,Children of Heaven,27882,130.0,Persian,0.180000,1997.0,8.5,0,0.745402,43
4105,Chan-wook Park,305.0,2.181290,Drama|Mystery|Thriller,Min-sik Choi,Oldboy,356181,809.0,Korean,3.000000,2003.0,8.4,43000,-0.818710,49
2323,Hayao Miyazaki,174.0,2.298191,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2400.000000,1997.0,8.4,11000,-2397.701809,50
1298,Jean-Pierre Jeunet,242.0,33.201661,Comedy|Romance,Mathieu Kassovitz,AmÃ©lie,534262,1314.0,French,77.000000,2001.0,8.4,39000,-43.798339,53
2970,Wolfgang Petersen,96.0,11.433134,Adventure|Drama|Thriller|War,JÃ¼rgen Prochnow,Das Boot,168203,426.0,German,14.000000,1981.0,8.4,11000,-2.566866,55
1329,S.S. Rajamouli,44.0,6.498000,Action|Adventure|Drama|Fantasy|War,Tamannaah Bhatia,Baahubali: The Beginning,62756,410.0,Telugu,18.026148,2015.0,8.4,21000,-11.528148,56
4659,Asghar Farhadi,354.0,7.098492,Drama|Mystery,Shahab Hosseini,A Separation,151812,264.0,Persian,0.500000,2011.0,8.4,48000,6.598492,61
2829,Oliver Hirschbiegel,192.0,5.501940,Biography|Drama|History|War,Thomas Kretschmann,Downfall,248354,564.0,German,13.500000,2004.0,8.3,14000,-7.998060,73
2734,Fritz Lang,260.0,0.026435,Drama|Sci-Fi,Brigitte Helm,Metropolis,111841,413.0,German,6.000000,1927.0,8.3,12000,-5.973565,81
4033,Thomas Vinterberg,349.0,0.610968,Drama,Thomas Bo Larsen,The Hunt,170155,249.0,Danish,3.800000,2012.0,8.3,60000,-3.189032,85
3550,Denis Villeneuve,226.0,6.857096,Drama|Mystery|War,Lubna Azabal,Incendies,80429,156.0,French,6.800000,2010.0,8.2,37000,0.057096,88
2047,Hayao Miyazaki,212.0,4.710455,Adventure|Animation|Family|Fantasy,Christian Bale,Howl's Moving Castle,214091,330.0,Japanese,24.000000,2004.0,8.2,13000,-19.289545,104
2551,Guillermo del Toro,406.0,37.623143,Drama|Fantasy|War,Ivana Baquero,Pan's Labyrinth,467234,1083.0,Spanish,13.500000,2006.0,8.2,27000,24.123143,106
4000,Juan JosÃ© Campanella,262.0,20.167424,Drama|Mystery|Thriller,Ricardo DarÃ­n,The Secret in Their Eyes,131831,231.0,Spanish,2.000000,2009.0,8.2,33000,18.167424,108
4461,Thomas Vinterberg,98.0,1.647780,Drama,Ulrich Thomsen,The Celebration,65951,258.0,Danish,1.300000,1998.0,8.1,5000,0.347780,112
3423,Katsuhiro Ã”tomo,150.0,0.439162,Action|Animation|Sci-Fi,Mitsuo Iwata,Akira,106160,430.0,Japanese,1100.000000,1988.0,8.1,0,-1099.560838,123
2830,Alejandro AmenÃ¡bar,157.0,2.086345,Biography|Drama|Romance,BelÃ©n Rueda,The Sea Inside,64556,140.0,Spanish,10.000000,2004.0,8.1,0,-7.913655,125
2914,Je-kyu Kang,86.0,1.110186,Action|Drama|War,Min-sik Choi,Tae Guk Gi: The Brotherhood of War,31943,224.0,Korean,12.800000,2004.0,8.1,0,-11.689814,127
4267,Alejandro G. IÃ±Ã¡rritu,157.0,5.383834,Drama|Thriller,Adriana Barraza,Amores Perros,173551,361.0,Spanish,2.000000,2000.0,8.1,11000,3.383834,137
3553,JosÃ© Padilha,142.0,0.008060,Action|Crime|Drama|Thriller,Wagner Moura,Elite Squad,81644,107.0,Portuguese,4.000000,2007.0,8.1,11000,-3.991940,144
3456,Vincent Paronnaud,242.0,4.443403,Animation|Biography|Drama|War,Catherine Deneuve,Persepolis,70194,158.0,French,7.300000,2007.0,8.0,14000,-2.856597,175
4897,Sergio Leone,122.0,3.500000,Action|Drama|Western,Clint Eastwood,A Fistful of Dollars,147566,235.0,Italian,0.200000,1964.0,8.0,0,3.300000,185
4284,Ari Folman,231.0,2.283276,Animation|Biography|Documentary|Drama|History|War,Ari Folman,Waltz with Bashir,46107,156.0,Hebrew,1.500000,2008.0,8.0,0,0.783276,191
3344,Karan Johar,210.0,4.018695,Adventure|Drama|Thriller,Shah Rukh Khan,My Name Is Khan,69759,235.0,Hindi,12.000000,2010.0,8.0,27000,-7.981305,202
4144,Walter Salles,71.0,5.595428,Drama,Fernanda Montenegro,Central Station,28951,257.0,Portuguese,2.900000,1998.0,8.0,0,2.695428,207
1171,Yimou Zhang,283.0,0.084961,Action|Adventure|History,Jet Li,Hero,149414,841.0,Mandarin,31.000000,2002.0,7.9,0,-30.915039,213
3264,Michael Haneke,447.0,0.225377,Drama|Romance,Isabelle Huppert,Amour,70382,190.0,French,8.900000,2012.0,7.9,33000,-8.674623,218
4415,FabiÃ¡n Bielinsky,94.0,1.221261,Crime|Drama|Thriller,Ricardo DarÃ­n,Nine Queens,38215,125.0,Spanish,1.500000,2000.0,7.9,0,-0.278739,224
3510,Yash Chopra,29.0,2.921738,Drama|Musical|Romance,Shah Rukh Khan,Veer-Zaara,34449,119.0,Hindi,7.000000,2004.0,7.9,2000,-4.078262,225
3677,Christophe Barratier,112.0,3.629758,Drama|Music,Jean-Baptiste Maunier,The Chorus,44151,110.0,French,5.500000,2004.0,7.9,0,-1.870242,228
2493,Yimou Zhang,283.0,0.084961,Action|Adventure|History,Jet Li,Hero,149414,841.0,Mandarin,31.000000,2002.0,7.9,0,-30.915039,243
4640,Cristian Mungiu,233.0,1.185783,Drama,Anamaria Marinca,"4 Months, 3 Weeks and 2 Days",44763,172.0,Romanian,0.590000,2007.0,7.9,14000,0.595783,250

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [29]:
# Write your code for extracting the top 10 directors here
director=movies.pivot_table(values='imdb_score',index='director_name',aggfunc='mean')
director=director.sort_values(by='imdb_score',ascending=False)
director=director.iloc[:10,]
director

                       imdb_score
director_name
Charles Chaplin          8.600000
Tony Kaye                8.600000
Damien Chazelle          8.500000
Ron Fricke               8.500000
Alfred Hitchcock         8.500000
Majid Majidi             8.500000
Sergio Leone             8.433333
Christopher Nolan        8.425000
Marius A. Markevicius    8.400000
S.S. Rajamouli           8.400000

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [30]:
# Write your code for extracting the first two genres of each movie here
movies['genres']=movies['genres'].str.split('|')
movies['genre_1']=movies['genres'].apply(lambda x: x[0])
movies['genre_2']=movies['genres'].apply(lambda x : x[1] if len(x) >1 else x[0])
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
0,James Cameron,723.0,760.505847,"[Action, Adventure, Fantasy, Sci-Fi]",CCH Pounder,Avatar,886204,3054.0,English,237.0000,2009.0,7.9,33000,523.505847,Action,Adventure
1,Gore Verbinski,302.0,309.404152,"[Action, Adventure, Fantasy]",Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300.0000,2007.0,7.1,0,9.404152,Action,Adventure
2,Sam Mendes,602.0,200.074175,"[Action, Adventure, Thriller]",Christoph Waltz,Spectre,275868,994.0,English,245.0000,2015.0,6.8,85000,-44.925825,Action,Adventure
3,Christopher Nolan,813.0,448.130642,"[Action, Thriller]",Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250.0000,2012.0,8.5,164000,198.130642,Action,Thriller
5,Andrew Stanton,462.0,73.058679,"[Action, Adventure, Sci-Fi]",Daryl Sabara,John Carter,212204,738.0,English,263.7000,2012.0,6.6,24000,-190.641321,Action,Adventure
6,Sam Raimi,392.0,336.530303,"[Action, Adventure, Romance]",J.K. Simmons,Spider-Man 3,383056,1902.0,English,258.0000,2007.0,6.2,0,78.530303,Action,Adventure
7,Nathan Greno,324.0,200.807262,"[Adventure, Animation, Comedy, Family, Fantasy...",Brad Garrett,Tangled,294810,387.0,English,260.0000,2010.0,7.8,29000,-59.192738,Adventure,Animation
8,Joss Whedon,635.0,458.991599,"[Action, Adventure, Sci-Fi]",Chris Hemsworth,Avengers: Age of Ultron,462669,1117.0,English,250.0000,2015.0,7.5,118000,208.991599,Action,Adventure
9,David Yates,375.0,301.956980,"[Adventure, Family, Fantasy, Mystery]",Alan Rickman,Harry Potter and the Half-Blood Prince,321795,973.0,English,250.0000,2009.0,7.5,10000,51.956980,Adventure,Family
10,Zack Snyder,673.0,330.249062,"[Action, Adventure, Sci-Fi]",Henry Cavill,Batman v Superman: Dawn of Justice,371639,3018.0,English,250.0000,2016.0,6.9,197000,80.249062,Action,Adventure
11,Bryan Singer,434.0,200.069408,"[Action, Adventure, Sci-Fi]",Kevin Spacey,Superman Returns,240396,2367.0,English,209.0000,2006.0,6.1,0,-8.930592,Action,Adventure
12,Marc Forster,403.0,168.368427,"[Action, Adventure]",Giancarlo Giannini,Quantum of Solace,330784,1243.0,English,200.0000,2008.0,6.7,0,-31.631573,Action,Adventure
13,Gore Verbinski,313.0,423.032628,"[Action, Adventure, Fantasy]",Johnny Depp,Pirates of the Caribbean: Dead Man's Chest,522040,1832.0,English,225.0000,2006.0,7.3,5000,198.032628,Action,Adventure
14,Gore Verbinski,450.0,89.289910,"[Action, Adventure, Western]",Johnny Depp,The Lone Ranger,181792,711.0,English,215.0000,2013.0,6.5,48000,-125.710090,Action,Adventure
15,Zack Snyder,733.0,291.021565,"[Action, Adventure, Fantasy, Sci-Fi]",Henry Cavill,Man of Steel,548573,2536.0,English,225.0000,2013.0,7.2,118000,66.021565,Action,Adventure
16,Andrew Adamson,258.0,141.614023,"[Action, Adventure, Family, Fantasy]",Peter Dinklage,The Chronicles of Narnia: Prince Caspian,149922,438.0,English,225.0000,2008.0,6.6,0,-83.385977,Action,Adventure
17,Joss Whedon,703.0,623.279547,"[Action, Adventure, Sci-Fi]",Chris Hemsworth,The Avengers,995415,1722.0,English,220.0000,2012.0,8.1,123000,403.279547,Action,Adventure
18,Rob Marshall,448.0,241.063875,"[Action, Adventure, Fantasy]",Johnny Depp,Pirates of the Caribbean: On Stranger Tides,370704,484.0,English,250.0000,2011.0,6.7,58000,-8.936125,Action,Adventure
19,Barry Sonnenfeld,451.0,179.020854,"[Action, Adventure, Comedy, Family, Fantasy, S...",Will Smith,Men in Black 3,268154,341.0,English,225.0000,2012.0,6.8,40000,-45.979146,Action,Adventure
20,Peter Jackson,422.0,255.108370,"[Adventure, Fantasy]",Aidan Turner,The Hobbit: The Battle of the Five Armies,354228,802.0,English,250.0000,2014.0,7.5,65000,5.108370,Adventure,Fantasy
21,Marc Webb,599.0,262.030663,"[Action, Adventure, Fantasy]",Emma Stone,The Amazing Spider-Man,451803,1225.0,English,230.0000,2012.0,7.0,56000,32.030663,Action,Adventure
22,Ridley Scott,343.0,105.219735,"[Action, Adventure, Drama, History]",Mark Addy,Robin Hood,211765,546.0,English,200.0000,2010.0,6.7,17000,-94.780265,Action,Adventure
23,Peter Jackson,509.0,258.355354,"[Adventure, Fantasy]",Aidan Turner,The Hobbit: The Desolation of Smaug,483540,951.0,English,225.0000,2013.0,7.9,83000,33.355354,Adventure,Fantasy
24,Chris Weitz,251.0,70.083519,"[Adventure, Family, Fantasy]",Christopher Lee,The Golden Compass,149019,666.0,English,180.0000,2007.0,6.1,0,-109.916481,Adventure,Family
25,Peter Jackson,446.0,218.051260,"[Action, Adventure, Drama, Romance]",Naomi Watts,King Kong,316018,2618.0,English,207.0000,2005.0,7.2,0,11.051260,Action,Adventure
26,James Cameron,315.0,658.672302,"[Drama, Romance]",Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0000,1997.0,7.7,26000,458.672302,Drama,Romance
27,Anthony Russo,516.0,407.197282,"[Action, Adventure, Sci-Fi]",Robert Downey Jr.,Captain America: Civil War,272670,1022.0,English,250.0000,2016.0,8.2,72000,157.197282,Action,Adventure
28,Peter Berg,377.0,65.173160,"[Action, Adventure, Sci-Fi, Thriller]",Liam Neeson,Battleship,202382,751.0,English,209.0000,2012.0,5.9,44000,-143.826840,Action,Adventure
29,Colin Trevorrow,644.0,652.177271,"[Action, Adventure, Sci-Fi, Thriller]",Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0000,2015.0,7.0,150000,502.177271,Action,Adventure
30,Sam Mendes,750.0,304.360277,"[Action, Adventure, Thriller]",Albert Finney,Skyfall,522030,1498.0,English,200.0000,2012.0,7.8,80000,104.360277,Action,Adventure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4959,Robert Townsend,21.0,5.228617,[Comedy],Robert Townsend,Hollywood Shuffle,2770,32.0,English,0.1000,1987.0,7.0,471,5.128617,Comedy,Comedy
4962,Larry Blamire,88.0,0.110536,"[Comedy, Horror, Sci-Fi]",Fay Masterson,The Lost Skeleton of Cadavra,4117,118.0,English,0.0400,2001.0,7.0,0,0.070536,Comedy,Horror
4964,E.L. Katz,193.0,0.059379,"[Comedy, Crime, Drama, Horror, Thriller]",Brighton Sharbino,Cheap Thrills,12796,52.0,English,0.2000,2013.0,6.8,0,-0.140621,Comedy,Crime
4971,Dennis Iliadis,241.0,32.721635,"[Crime, Horror, Thriller]",Tony Goldwyn,The Last House on the Left,67824,279.0,English,15.0000,2009.0,6.6,0,17.721635,Crime,Horror
4973,Darren Aronofsky,138.0,3.216970,"[Drama, Mystery, Thriller]",Mark Margolis,Pi,142619,586.0,English,0.0600,1998.0,7.5,24000,3.156970,Drama,Mystery
4975,Myles Berkowitz,32.0,0.536767,"[Biography, Comedy, Romance]",Tia Carrere,20 Dates,1622,83.0,English,0.0600,1998.0,5.3,30,0.476767,Biography,Comedy
4977,Morgan Spurlock,193.0,11.529368,"[Comedy, Documentary, Drama]",Chemeeka Walker,Super Size Me,85028,404.0,English,0.0650,2004.0,7.3,0,11.464368,Comedy,Documentary
4978,Brandon Trost,66.0,0.040557,[Comedy],Clifton Collins Jr.,The FP,1389,22.0,English,0.0600,2011.0,5.6,0,-0.019443,Comedy,Comedy
4979,Joe Swanberg,65.0,0.030084,"[Comedy, Drama]",Anna Kendrick,Happy Christmas,5507,23.0,English,0.0700,2014.0,5.6,812,-0.039916,Comedy,Drama
4984,Edward Burns,36.0,10.246600,"[Comedy, Drama, Romance]",Shari Albert,The Brothers McMullen,6375,36.0,English,0.0250,1995.0,6.6,265,10.221600,Comedy,Drama
4987,Lena Dunham,113.0,0.389804,"[Comedy, Drama, Romance]",Lena Dunham,Tiny Furniture,11816,35.0,English,0.0650,2010.0,6.3,0,0.324804,Comedy,Drama
4997,David Gordon Green,75.0,0.241816,[Drama],Paul Schneider,George Washington,6246,76.0,English,0.0420,2000.0,7.5,451,0.199816,Drama,Drama
4998,Kevin Jordan,21.0,0.277233,"[Comedy, Romance]",Derick Martini,Smiling Fish & Goat on Fire,2631,26.0,English,0.0400,1999.0,7.6,0,0.237233,Comedy,Romance
5004,Mike Bruce,3.0,0.243768,[Western],Joseph Campanella,The Legend of God's Gun,143,9.0,English,0.0300,2007.0,4.1,13,0.213768,Western,Western
5008,Kevin Smith,136.0,3.151130,[Comedy],Jason Mewes,Clerks,181749,615.0,English,0.2300,1994.0,7.8,0,2.921130,Comedy,Comedy
5009,James Bidgood,8.0,0.008231,"[Drama, Fantasy]",Don Brooks,Pink Narcissus,803,16.0,English,0.0270,1971.0,6.7,85,-0.018769,Drama,Fantasy
5011,Neil LaBute,80.0,2.856622,"[Comedy, Drama]",Stacy Edwards,In the Company of Men,11550,197.0,English,0.0250,1997.0,7.3,489,2.831622,Comedy,Drama
5012,David Ayer,233.0,10.499968,"[Action, Crime, Drama, Thriller]",Mireille Enos,Sabotage,47502,212.0,English,35.0000,2014.0,5.7,10000,-24.500032,Action,Crime
5015,Richard Linklater,61.0,1.227508,"[Comedy, Drama]",Tommy Pallotta,Slacker,15103,80.0,English,0.0230,1991.0,7.1,2000,1.204508,Comedy,Drama
5021,Jay Duplass,51.0,0.192467,"[Comedy, Drama, Romance]",Mark Duplass,The Puffy Chair,4067,71.0,English,0.0150,2005.0,6.6,297,0.177467,Comedy,Drama
5023,Daryl Wein,22.0,0.076382,[Romance],Zoe Lister-Jones,Breaking Upwards,1194,8.0,English,0.0150,2009.0,6.2,324,0.061382,Romance,Romance
5025,John Waters,73.0,0.180483,"[Comedy, Crime, Horror]",Divine,Pink Flamingos,16792,183.0,English,0.0100,1972.0,6.1,0,0.170483,Comedy,Crime
5026,Olivier Assayas,81.0,0.136007,"[Drama, Music, Romance]",Maggie Cheung,Clean,3924,39.0,French,0.0045,2004.0,6.9,171,0.131507,Drama,Music
5027,Jafar Panahi,64.0,0.673780,[Drama],Fereshteh Sadre Orafaiy,The Circle,4555,26.0,Persian,0.0100,2000.0,7.5,697,0.663780,Drama,Drama
5029,Kiyoshi Kurosawa,78.0,0.094596,"[Crime, Horror, Mystery, Thriller]",KÃ´ji Yakusho,The Cure,6318,50.0,Japanese,1.0000,1997.0,7.4,817,-0.905404,Crime,Horror
5033,Shane Carruth,143.0,0.424760,"[Drama, Sci-Fi, Thriller]",Shane Carruth,Primer,72639,371.0,English,0.0070,2004.0,7.0,19000,0.417760,Drama,Sci-Fi
5034,Neill Dela Llana,35.0,0.070071,[Thriller],Ian Gamazon,Cavite,589,35.0,English,0.0070,2005.0,6.3,74,0.063071,Thriller,Thriller
5035,Robert Rodriguez,56.0,2.040920,"[Action, Crime, Drama, Romance, Thriller]",Carlos Gallardo,El Mariachi,52055,130.0,Spanish,0.0070,1992.0,6.9,0,2.033920,Action,Crime
5037,Edward Burns,14.0,0.004584,"[Comedy, Drama]",Kerry BishÃ©,Newlyweds,1338,14.0,English,0.0090,2011.0,6.4,413,-0.004416,Comedy,Drama
5042,Jon Gunn,43.0,0.085222,[Documentary],John August,My Date with Drew,4285,84.0,English,0.0011,2004.0,6.6,456,0.084122,Documentary,Documentary

In [31]:
movies_by_segment = movies.groupby(['genre_1','genre_2'])
# Write your code for grouping the dataframe here

In [32]:
PopGenre =pd.DataFrame(movies_by_segment['gross'].mean()).sort_values(by='gross',ascending=False)
PopGenre.iloc[:5,]
# Write your code for getting the 5 most popular combo of genres here

                          gross
genre_1   genre_2
Family    Sci-Fi     434.949459
Adventure Sci-Fi     228.627758
          Animation  116.998550
          Family     116.520833
Action    Adventure  110.382547

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [33]:
# Write your code for creating three new dataframes here

Meryl_Streep =movies.loc[movies.actor_1_name=='Meryl Streep']
Meryl_Streep
# Include all movies in which Meryl_Streep is the lead

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
410,Nancy Meyers,187.0,112.703470,"[Comedy, Drama, Romance]",Meryl Streep,It's Complicated,69860,214.0,English,85.0,2009.0,6.6,0,27.703470,Comedy,Drama
1106,Curtis Hanson,42.0,46.815748,"[Action, Adventure, Crime, Thriller]",Meryl Streep,The River Wild,32544,69.0,English,45.0,1994.0,6.3,0,1.815748,Action,Adventure
1204,Nora Ephron,252.0,94.125426,"[Biography, Drama, Romance]",Meryl Streep,Julie & Julia,79264,277.0,English,40.0,2009.0,7.0,13000,54.125426,Biography,Drama
1408,David Frankel,208.0,124.732962,"[Comedy, Drama, Romance]",Meryl Streep,The Devil Wears Prada,286178,631.0,English,35.0,2006.0,6.8,0,89.732962,Comedy,Drama
1483,Robert Redford,227.0,14.998070,"[Drama, Thriller, War]",Meryl Streep,Lions for Lambs,41170,298.0,English,35.0,2007.0,6.2,0,-20.001930,Drama,Thriller
1575,Sydney Pollack,66.0,87.100000,"[Biography, Drama, Romance]",Meryl Streep,Out of Africa,52339,200.0,English,31.0,1985.0,7.2,0,56.100000,Biography,Drama
1618,David Frankel,234.0,63.536011,"[Comedy, Drama, Romance]",Meryl Streep,Hope Springs,34258,178.0,English,30.0,2012.0,6.3,0,33.536011,Comedy,Drama
1674,Carl Franklin,64.0,23.209440,[Drama],Meryl Streep,One True Thing,9283,112.0,English,30.0,1998.0,7.0,592,-6.790560,Drama,Drama
1925,Stephen Daldry,174.0,41.597830,"[Drama, Romance]",Meryl Streep,The Hours,102123,660.0,English,25.0,2002.0,7.6,0,16.597830,Drama,Romance
2781,Phyllida Lloyd,331.0,29.959436,"[Biography, Drama, History]",Meryl Streep,The Iron Lady,82327,350.0,English,13.0,2011.0,6.4,18000,16.959436,Biography,Drama
3135,Robert Altman,211.0,20.338609,"[Comedy, Drama, Music]",Meryl Streep,A Prairie Home Companion,19655,280.0,English,10.0,2006.0,6.8,683,10.338609,Comedy,Drama

In [34]:
Leo_Caprio =movies.loc[movies.actor_1_name=='Leonardo Dicaprio']
Leo_Caprio
# Include all movies in which Leo_Caprio is the lead

Empty DataFrame
Columns: [director_name, num_critic_for_reviews, gross, genres, actor_1_name, movie_title, num_voted_users, num_user_for_reviews, language, budget, title_year, imdb_score, movie_facebook_likes, profit, genre_1, genre_2]
Index: []

In [35]:
Brad_Pitt =movies.loc[movies.actor_1_name=='Brad Pitt']
Brad_Pitt

# Include all movies in which Brad_Pitt is the lead

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
101,David Fincher,362.0,127.490802,"[Drama, Fantasy, Romance]",Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,150.0,2008.0,7.8,23000,-22.509198,Drama,Fantasy
147,Wolfgang Petersen,220.0,133.228348,[Adventure],Brad Pitt,Troy,381672,1694.0,English,175.0,2004.0,7.2,0,-41.771652,Adventure,Adventure
254,Steven Soderbergh,198.0,125.531634,"[Crime, Thriller]",Brad Pitt,Ocean's Twelve,284852,627.0,English,110.0,2004.0,6.4,0,15.531634,Crime,Thriller
255,Doug Liman,233.0,186.336103,"[Action, Comedy, Crime, Romance, Thriller]",Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,120.0,2005.0,6.5,0,66.336103,Action,Comedy
382,Tony Scott,142.0,0.026871,"[Action, Crime, Thriller]",Brad Pitt,Spy Game,121259,361.0,English,92.0,2001.0,7.0,0,-91.973129,Action,Crime
400,Steven Soderbergh,186.0,183.405771,"[Crime, Thriller]",Brad Pitt,Ocean's Eleven,402645,845.0,English,85.0,2001.0,7.8,0,98.405771,Crime,Thriller
470,David Ayer,406.0,85.707116,"[Action, Drama, War]",Brad Pitt,Fury,303185,701.0,English,68.0,2014.0,7.6,82000,17.707116,Action,Drama
611,Jean-Jacques Annaud,76.0,37.901509,"[Adventure, Biography, Drama, History, War]",Brad Pitt,Seven Years in Tibet,96385,119.0,English,70.0,1997.0,7.0,0,-32.098491,Adventure,Biography
683,David Fincher,315.0,37.023395,[Drama],Brad Pitt,Fight Club,1347461,2968.0,English,63.0,1999.0,8.8,48000,-25.976605,Drama,Drama
792,Patrick Gilmore,98.0,26.288320,"[Adventure, Animation, Comedy, Drama, Family, ...",Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,60.0,2003.0,6.7,880,-33.711680,Adventure,Animation
940,Neil Jordan,120.0,105.264608,"[Drama, Fantasy, Horror]",Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,60.0,1994.0,7.6,11000,45.264608,Drama,Fantasy
1490,Terrence Malick,584.0,13.303319,"[Drama, Fantasy]",Brad Pitt,The Tree of Life,136367,975.0,English,32.0,2011.0,6.7,39000,-18.696681,Drama,Fantasy
1722,Andrew Dominik,273.0,3.904982,"[Biography, Crime, Drama, History, Western]",Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,30.0,2007.0,7.5,0,-26.095018,Biography,Crime
2204,Alejandro G. IÃ±Ã¡rritu,285.0,34.300771,[Drama],Brad Pitt,Babel,243799,908.0,English,25.0,2006.0,7.5,0,9.300771,Drama,Drama
2333,Angelina Jolie Pitt,131.0,0.531009,"[Drama, Romance]",Brad Pitt,By the Sea,7976,61.0,English,10.0,2015.0,5.3,0,-9.468991,Drama,Romance
2682,Andrew Dominik,414.0,14.938570,"[Crime, Thriller]",Brad Pitt,Killing Them Softly,111625,369.0,English,15.0,2012.0,6.2,20000,-0.061430,Crime,Thriller
2898,Tony Scott,122.0,12.281500,"[Action, Crime, Drama, Romance, Thriller]",Brad Pitt,True Romance,163492,460.0,English,13.0,1993.0,8.0,15000,-0.718500,Action,Crime

In [36]:
# Write your code for combining the three dataframes here
Combined=pd.concat([Meryl_Streep,Brad_Pitt,Leo_Caprio])
Combined

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
410,Nancy Meyers,187.0,112.703470,"[Comedy, Drama, Romance]",Meryl Streep,It's Complicated,69860,214.0,English,85.0,2009.0,6.6,0,27.703470,Comedy,Drama
1106,Curtis Hanson,42.0,46.815748,"[Action, Adventure, Crime, Thriller]",Meryl Streep,The River Wild,32544,69.0,English,45.0,1994.0,6.3,0,1.815748,Action,Adventure
1204,Nora Ephron,252.0,94.125426,"[Biography, Drama, Romance]",Meryl Streep,Julie & Julia,79264,277.0,English,40.0,2009.0,7.0,13000,54.125426,Biography,Drama
1408,David Frankel,208.0,124.732962,"[Comedy, Drama, Romance]",Meryl Streep,The Devil Wears Prada,286178,631.0,English,35.0,2006.0,6.8,0,89.732962,Comedy,Drama
1483,Robert Redford,227.0,14.998070,"[Drama, Thriller, War]",Meryl Streep,Lions for Lambs,41170,298.0,English,35.0,2007.0,6.2,0,-20.001930,Drama,Thriller
1575,Sydney Pollack,66.0,87.100000,"[Biography, Drama, Romance]",Meryl Streep,Out of Africa,52339,200.0,English,31.0,1985.0,7.2,0,56.100000,Biography,Drama
1618,David Frankel,234.0,63.536011,"[Comedy, Drama, Romance]",Meryl Streep,Hope Springs,34258,178.0,English,30.0,2012.0,6.3,0,33.536011,Comedy,Drama
1674,Carl Franklin,64.0,23.209440,[Drama],Meryl Streep,One True Thing,9283,112.0,English,30.0,1998.0,7.0,592,-6.790560,Drama,Drama
1925,Stephen Daldry,174.0,41.597830,"[Drama, Romance]",Meryl Streep,The Hours,102123,660.0,English,25.0,2002.0,7.6,0,16.597830,Drama,Romance
2781,Phyllida Lloyd,331.0,29.959436,"[Biography, Drama, History]",Meryl Streep,The Iron Lady,82327,350.0,English,13.0,2011.0,6.4,18000,16.959436,Biography,Drama
3135,Robert Altman,211.0,20.338609,"[Comedy, Drama, Music]",Meryl Streep,A Prairie Home Companion,19655,280.0,English,10.0,2006.0,6.8,683,10.338609,Comedy,Drama
101,David Fincher,362.0,127.490802,"[Drama, Fantasy, Romance]",Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,150.0,2008.0,7.8,23000,-22.509198,Drama,Fantasy
147,Wolfgang Petersen,220.0,133.228348,[Adventure],Brad Pitt,Troy,381672,1694.0,English,175.0,2004.0,7.2,0,-41.771652,Adventure,Adventure
254,Steven Soderbergh,198.0,125.531634,"[Crime, Thriller]",Brad Pitt,Ocean's Twelve,284852,627.0,English,110.0,2004.0,6.4,0,15.531634,Crime,Thriller
255,Doug Liman,233.0,186.336103,"[Action, Comedy, Crime, Romance, Thriller]",Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,120.0,2005.0,6.5,0,66.336103,Action,Comedy
382,Tony Scott,142.0,0.026871,"[Action, Crime, Thriller]",Brad Pitt,Spy Game,121259,361.0,English,92.0,2001.0,7.0,0,-91.973129,Action,Crime
400,Steven Soderbergh,186.0,183.405771,"[Crime, Thriller]",Brad Pitt,Ocean's Eleven,402645,845.0,English,85.0,2001.0,7.8,0,98.405771,Crime,Thriller
470,David Ayer,406.0,85.707116,"[Action, Drama, War]",Brad Pitt,Fury,303185,701.0,English,68.0,2014.0,7.6,82000,17.707116,Action,Drama
611,Jean-Jacques Annaud,76.0,37.901509,"[Adventure, Biography, Drama, History, War]",Brad Pitt,Seven Years in Tibet,96385,119.0,English,70.0,1997.0,7.0,0,-32.098491,Adventure,Biography
683,David Fincher,315.0,37.023395,[Drama],Brad Pitt,Fight Club,1347461,2968.0,English,63.0,1999.0,8.8,48000,-25.976605,Drama,Drama
792,Patrick Gilmore,98.0,26.288320,"[Adventure, Animation, Comedy, Drama, Family, ...",Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,60.0,2003.0,6.7,880,-33.711680,Adventure,Animation
940,Neil Jordan,120.0,105.264608,"[Drama, Fantasy, Horror]",Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,60.0,1994.0,7.6,11000,45.264608,Drama,Fantasy
1490,Terrence Malick,584.0,13.303319,"[Drama, Fantasy]",Brad Pitt,The Tree of Life,136367,975.0,English,32.0,2011.0,6.7,39000,-18.696681,Drama,Fantasy
1722,Andrew Dominik,273.0,3.904982,"[Biography, Crime, Drama, History, Western]",Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,30.0,2007.0,7.5,0,-26.095018,Biography,Crime
2204,Alejandro G. IÃ±Ã¡rritu,285.0,34.300771,[Drama],Brad Pitt,Babel,243799,908.0,English,25.0,2006.0,7.5,0,9.300771,Drama,Drama
2333,Angelina Jolie Pitt,131.0,0.531009,"[Drama, Romance]",Brad Pitt,By the Sea,7976,61.0,English,10.0,2015.0,5.3,0,-9.468991,Drama,Romance
2682,Andrew Dominik,414.0,14.938570,"[Crime, Thriller]",Brad Pitt,Killing Them Softly,111625,369.0,English,15.0,2012.0,6.2,20000,-0.061430,Crime,Thriller
2898,Tony Scott,122.0,12.281500,"[Action, Crime, Drama, Romance, Thriller]",Brad Pitt,True Romance,163492,460.0,English,13.0,1993.0,8.0,15000,-0.718500,Action,Crime

In [37]:
# Write your code for grouping the combined dataframe here
Combined_by_Segment=Combined.groupby('actor_1_name')

In [38]:
Combined.isnull().sum()

director_name             0
num_critic_for_reviews    0
gross                     0
genres                    0
actor_1_name              0
movie_title               0
num_voted_users           0
num_user_for_reviews      0
language                  0
budget                    0
title_year                0
imdb_score                0
movie_facebook_likes      0
profit                    0
genre_1                   0
genre_2                   0
dtype: int64

In [39]:
# Write the code for finding the mean of critic reviews and audience reviews here

movies['num_critic_for_reviews'].mean()

163.23470437017994

In [40]:
movies['num_user_for_reviews'].mean()

327.3099460292984

**Checkpoint 6:** `Leonardo` has aced both the lists!